.App {
  text-align: center;
  background-color: #111C35;
  color: #FFFFFF;
}

.App-header {
  background-color: #111C35;
  padding: 20px;
}
ul{
 list-style-type: none;
  
}
h1 {
  color: #2196F3;
}

h2 {
  color: #2196F3;
}

p {
  color: #FFFFFF;
}

footer {
  background-color: grey;
  padding: 10px;
  color: #FFFFFF;
}
